:root {
  --md: 0.5rem;
  --lg: 1rem;
}

.d-flex {
  display: flex;
}

.justify-between {
  display: flex;
  justify-content: space-between;
}

.select-none {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
  supported by Chrome, Edge, Opera and Firefox */
}

.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.px-1 {
  padding-left: var(--md);
  padding-right: var(--md);
}
.px-2 {
  padding-left: var(--lg);
  padding-right: var(--lg);
}
